
mat-card {
    margin: auto ;
    width: 35%;
    display: block;
    margin-top: 2rem;
}

mat-form-field, input {
    width: 100%;
}

table {
    width: 100%;
    margin-top: 2rem;
  }

  img {
    width: 50px;
    height: auto;
  }